@model GamesMarket.Models.PaymentSuccessInfo

@{
    ViewBag.Title = "PaymentSuccessfull";
}

<h2>Order id: @Model.OrderId</h2>

Your receipt was sent to @Model.Email
Total order sum is @Model.TotalSum UAH





